## 4. Sentiment analysis

### Import libraries

In [1]:
import folium
import pandas as pd
import geopandas as gpd
import glob
import re
import numpy as np
from tqdm.auto import tqdm
import matplotlib.pyplot as plt

In [9]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
# pd.reset_option('max_rows')
# pd.reset_option('max_columns')

### Convert location to iso2

In [2]:
# geographical data
geo_countries = gpd.read_file('../data/countries.geojson')
world_cities = pd.read_csv('../data/worldcities/worldcities.csv', usecols= ['city_ascii', 'country', 'iso2', 'population'])
city_iso2 = world_cities.sort_values('population', ascending = False).drop_duplicates('city_ascii').rename(columns={'city_ascii':'city'})[['city', 'iso2']]
state_iso2 = pd.read_csv('../data/US_states.csv', usecols=['STATE', 'STATE2']).assign(iso2='USA').rename(columns = {'STATE':'state', 'STATE2':'state2'})
country_iso2 = world_cities.sort_values('population', ascending = False).drop_duplicates('iso2')[['country', 'iso2']]

In [11]:
# Function to replace the inconsistent locations with country names
US = ['US', 'USA', 'Southern California', 'United States of America', 'West Coast, USA (SEA/GEG/LAX)',
       'Democrat in the USA','Washington DC', 'New York City', 'NYC', 'USA (SEA/GEG/LAX)', 'Washington DC',
       'Lost in the Minnesota North Woods', 'Washington D.C.', 'U.S.A.', 'U.S.A', 'us', 'New England', 'Philly','D.C.'
       ,'usa', 'Northern Virginia', 'American', 'South Florida','Pacific Northwest', 'Northern California', 
       'San Diego & New Orleans', 'San Francisco Bay Area','New York and the World', 'America','Washington State', 
       'Midwest','East Coast', 'US of A', 'Harrisburg Pa']
UK = ['UK','England', 'Scotland', 'london', 'Wales', 'uk', 'West Saxons', 'LONDON', 'South London', 'Northern Ireland',
       'Somerset England UK Eu', 'Derbyshire', 'England and International', 'London UK','Leicestershire','Lancashire'
       ,'West Sussex','North Yorkshire','Yorkshire and The Humber, Engl','Yorkshire and The Humber','Newcastle upon Tyne'
       ,'Staffordshire','Oxfordshire','Cardiff','West Yorkshire','Cymru','Great Britain','North Wales','Wiltshire'
       ,'Stockport','North West England','Cambridgeshire','glasgow','Romford','SCOTLAND','South Wales','Dorset'
       ,'some were in UK','england','Hertfordshire','Shropshire England','North East England','Hampshire UK'
       ,'Norfolk England','Dorset, England.','Bristol UK','Republic of Wales','U.K.','Lancashire','East Sussex'
       ,'Warwickshire', 'Edinburgh ~ Heart of Scotland!']
Germany = ["Deutschland", 'Somewhere in Germany']
Ukraine = ['Ucraina', 'chernivtsi', 'Some Future Place in Ukraine', 'Mariouple']
Poland = ['Polska']
Canada = ['CANADA']
Netherlands = ['The Netherlands']
Czechia = ['Czech Republic']
Italy = ['Italia']    
Brazil = ['Brasil', 'Brazil Brazil']   
Finland = ['Suomi', "East-Finnish People's Republic"]    
Japan = ['Okinotorishima Ogasawara Tokyo']   
Australia = ['Queensland','Australia - International']   
Sweden = ['Sverige']  
Kazakhstan = ['Astana']  
Serbia = ['Belgrade City'] 
India = ['mumbai']   
Belgium = ['Belgique', 'Bruxelles']  
Ethiopia = ['Tigray']   
Venezuela = ['Venezuela revolucionaria']
Spain = ['Tarragona']
Greece = ['Athens Greece']
Denmark = ['Danmark']

def convert_loc(text):
    if text in US:
        return 'United States'
    if text in UK:
        return 'United Kingdom'
    if text in Germany:
        return 'Germany'
    if text in Ukraine:
        return 'Ukraine'
    if text in Poland:
        return 'Poland'
    if text in Canada:
        return 'Canada'
    if text in Netherlands:
        return 'Netherlands'
    if text in Czechia:
        return 'Czechia'
    if text in Italy:
        return 'Italy'
    if text in Brazil:
        return 'Brazil'
    if text in Finland:
        return 'Finland'
    if text in Japan:
        return 'Japan'
    if text in Australia:
        return 'Australia'
    if text in Sweden:
        return 'Sweden'
    if text in Kazakhstan:
        return 'Kazakhstan'
    if text in Serbia:
        return 'Serbia'
    if text in India:
        return 'India'
    if text in Belgium:
        return 'Belgium'
    if text in Ethiopia:
        return 'Ethiopia'
    if text in Venezuela:
        return 'Venezuela'
    if text in Spain:
        return 'Spain'
    if text in Greece:
        return 'Greece'
    if text in Denmark:
        return 'Denmark'
    else:
        return text

In [12]:
col_to_keep = ['tweet_id', 'acct_desc', 'date', 'location', 'friends_ount','followers_ount', 'text', 'compound', 'iso2_final']
for filepath in tqdm(glob.glob('../data/tweets_en/*')):
    df = pd.read_csv(filepath, lineterminator='\n', encoding='latin-1')
    
    # split the location by comma and assign them to loc1 and loc2 
    loc_split = df['location'].apply(lambda x : str(x).split(','))
    loc1 = []
    loc2 = []
    for loc in loc_split:
        if len(loc) == 1:
            loc1 += [loc[0]]
            loc2 += ['nan']
        if len(loc) == 2:
            loc1 += [loc[0]]
            loc2 += [loc[1]]
        if len(loc) >2:
            loc1 += [loc[0]]
            loc2 += [loc[1]]
    df = df.assign(loc1 = loc1, loc2 = loc2)
    
    # strip the blank space in loc1 and loc2; convert the inconsistent loc1 and loc2 to country names
    df['loc1'] = df['loc1'].apply(lambda x: x.strip(' '))
    df['loc1'] = df['loc1'].apply(convert_loc)
    df['loc2'] = df['loc2'].apply(lambda x: x.strip(' '))
    df['loc2'] = df['loc2'].apply(convert_loc)
    
    # merge location columns with iso2 dataframes to match city, state, or country
    df = (df.
     merge(city_iso2, how = 'left', left_on = 'loc1', right_on = 'city').
     merge(city_iso2, how = 'left', left_on = 'loc2', right_on = 'city').
     merge(state_iso2, how = 'left', left_on = 'loc1', right_on = 'state').
     merge(state_iso2, how = 'left', left_on = 'loc2', right_on = 'state').
     merge(state_iso2, how = 'left', left_on = 'loc1', right_on = 'state2').
     merge(state_iso2, how = 'left', left_on = 'loc2', right_on = 'state2').
     merge(country_iso2, how = 'left', left_on = 'loc1', right_on = 'country').
     merge(country_iso2, how = 'left', left_on = 'loc2', right_on = 'country')
    )
    
    # ignore the null values and get the iso2
    df['iso2_final'] = (df['iso2_x'].iloc[:,0].
     combine_first(df['iso2_x'].iloc[:,1]).
     combine_first(df['iso2_x'].iloc[:,2]).
     combine_first(df['iso2_x'].iloc[:,3]).
     combine_first(df['iso2_y'].iloc[:,0]).
     combine_first(df['iso2_y'].iloc[:,1]).
     combine_first(df['iso2_y'].iloc[:,2]).
     combine_first(df['iso2_y'].iloc[:,3])
    )
    df = df[col_to_keep]# drop iso2_ columns
    df.to_csv(filepath, index = False)

  0%|          | 0/10 [00:00<?, ?it/s]

### Calculate sentiment scores and number of tweets per country before and after the war (2/24/22)

In [16]:
startdate =pd.to_datetime('2022-02-24').date()
keywords = ['ukraine', 'russia', 'eu', 'zelenskyy', 'biden', 'putin', 'johnson', 'nato', 'scholz', 'macron']
before_war = pd.DataFrame({'iso2_final':[]}).astype({'iso2_final':'str'})
after_war = pd.DataFrame({'iso2_final':[]}).astype({'iso2_final':'str'})

In [99]:
for keyword in tqdm(keywords):
    df = pd.read_csv(f'../data/tweets_en/tweets_{keyword}_en.csv',dtype={'date':'str'}, parse_dates = ['date'], lineterminator='\n', encoding='latin-1')
    df['date'] = pd.DatetimeIndex(df['date']).date
    
    # before the war
    df_temp = (df[(df['date']< startdate)&(abs(df['compound'])>0.1)].
                  groupby('iso2_final').
                  mean()[['compound']].
                  reset_index().
                  rename(columns={'compound':f'compound_{keyword}_before_war'}))
    df_temp[f'compound_{keyword}_before_war_count'] = (df[(df['date']< startdate)&(abs(df['compound'])>0.1)].
            groupby('iso2_final').
            count()['compound']).to_list()
    before_war = before_war.merge(df_temp, how='outer', left_on='iso2_final', right_on='iso2_final')
    
    # after the war
    df_temp = (df[(df['date']> startdate)&(abs(df['compound'])>0.1)].
                  groupby('iso2_final').
                  mean()[['compound']].
                  reset_index().
                  rename(columns={'compound':f'compound_{keyword}_after_war'}))
    df_temp[f'compound_{keyword}_after_war_count'] = (df[(df['date']> startdate)&(abs(df['compound'])>0.1)].
            groupby('iso2_final').
            count()['compound']).to_list()
    after_war = after_war.merge(df_temp, how='outer', left_on='iso2_final', right_on='iso2_final')
    
df_temp = before_war.merge(after_war, how='outer', left_on='iso2_final', right_on='iso2_final')
df_temp.dropna(axis='columns', how='all').to_csv('../shinyapp/data/sentiment_per_country.csv')

  0%|          | 0/10 [00:00<?, ?it/s]

### Calculate sentiment scores and number of tweets per date

In [ ]:
sent_per_date = pd.DataFrame()
for keyword in tqdm(keywords):
    df = pd.read_csv(f'../data/tweets_en/tweets_{keyword}_en.csv',dtype={'date':'str'}, parse_dates = ['date'], lineterminator='\n', encoding='latin-1')
    df['date'] = pd.DatetimeIndex(df['date']).date
    
    # mean sentiment score per date
    df_temp = (df[abs(df['compound'])>0.1].
                  groupby('date').
                  mean()[['compound']].
                  reset_index()
              )
    # number of tweets per date
    df_temp['compound_count'] = (df[abs(df['compound'])>0.1].
                             groupby(['date']).
                             count()['compound'].to_list())
    # add keyword column
    df_temp['keyword'] = keyword
    # concatenate df of different keywords
    sent_per_date = pd.concat([sent_per_date, df_temp], ignore_index=True)

In [46]:
# write to csv
sent_per_date.to_csv('../shinyapp/data/sentiment_per_date.csv')

In [47]:
pd.read_csv('../shinyapp/data/sentiment_per_date.csv')

     Unnamed: 0        date  compound  compound_count  keyword
0             0  2022-01-01 -0.025487              40  ukraine
1             1  2022-01-02  0.108270              63  ukraine
2             2  2022-01-03 -0.036004              53  ukraine
3             3  2022-01-04  0.087431              52  ukraine
4             4  2022-01-05  0.091302              49  ukraine
..          ...         ...       ...             ...      ...
532         532  2022-05-20 -0.009902            1173   macron
533         533  2022-05-21 -0.090024            1247   macron
534         534  2022-05-22 -0.049231            1179   macron
535         535  2022-05-23 -0.077883             926   macron
536         536  2022-05-24 -0.161761             901   macron

[537 rows x 5 columns]

In [45]:
sent_per_dateper_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537 entries, 0 to 536
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            537 non-null    object
 1   compound        537 non-null    float64
 2   compound_count  537 non-null    int64
 3   keyword         537 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 16.9+ KB

In [44]:
sent_per_date_per_date.head()

         date  compound  compound_count  keyword
0  2022-01-01 -0.025487              40  ukraine
1  2022-01-02  0.108270              63  ukraine
2  2022-01-03 -0.036004              53  ukraine
3  2022-01-04  0.087431              52  ukraine
4  2022-01-05  0.091302              49  ukraine

In [42]:
keyword = 'ukraine'
df_temp = (df[abs(df['compound'])>0.1].
                  groupby(['date']).
                  mean()[['compound']].
                  reset_index()
          )

df_temp['compound_count'] = (df[abs(df['compound'])>0.1].
                             groupby(['date']).
                             count()['compound'].to_list())
df_temp['keyword'] = keyword
df_temp

          date  compound  compound_count  keyword
0   2022-01-01 -0.025487              40  ukraine
1   2022-01-02  0.108270              63  ukraine
2   2022-01-03 -0.036004              53  ukraine
3   2022-01-04  0.087431              52  ukraine
4   2022-01-05  0.091302              49  ukraine
..         ...       ...             ...      ...
56  2022-05-20 -0.039210            7314  ukraine
57  2022-05-21 -0.013122            7290  ukraine
58  2022-05-22 -0.034922            7400  ukraine
59  2022-05-23 -0.048117            7489  ukraine
60  2022-05-24 -0.077618            7554  ukraine

[61 rows x 4 columns]